@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 32px;
}

.container {
  outline: 8px solid #4834d4;
  border-radius: 2px;
  width: 95vw;
  height: 60vh;
  display: grid;
  margin: 0 auto;
  background-color: whitesmoke;
}

.box {
  border: 2px solid #333;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
}
